@model YiZhan.ViewModels.ApplicationOrganization.ApplicationUserForEditVM
@using YiZhan.CustomMvcCoreExtension;
@using YiZhan.Common.ViewModelComponents.ForMvcHelper

<div id="updateCreateOrEdit_@Model.Id">
    <div class="nncqDefaultArea" data-text="" id="">
        <form action="../../ApplicationRoleAndUser/SaveEditApplicationUser"
              method="post"
              id="ApplicationUserCreateOrEditForm"
              data-ajax-update='#updateCreateOrEdit_@Model.Id'
              data-ajax-mode='replace'
              data-ajax='true'>

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <input type="hidden" id="IsNew" name="IsNew" value="@Model.IsNew.ToString()" />
            <input type="hidden" id="RoleId" name="RoleId" value="@Model.RoleId" />
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="RoleItemIdCollection" class="col-sm-3 control-label">关联角色组：</label>
                    <div class="col-sm-9">
                        @foreach (var item in Model.RoleItemColection)
                        {
                            var checkString = "";
                            if (Model.RoleItemIdCollection.Contains(item.Id))
                            {
                                checkString = "checked";
                            }
                            <label class="checkbox-inline">
                                <input type="checkbox" name="RoleItemIdCollection" id="inlineCheckbox1" value="@item.Id" @checkString> @item.DisplayName
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group" id='UserName_DIV'>
                    <label for="UserName" class="col-sm-3 control-label">用户名：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="请输入用户名" value="@Model.UserName" data-error="不能为空。" readonly>
                    </div>
                </div>
                @{

                    var inputForName = new HtmlInputItemSpecification()
                    {
                        ItemId = "Name",
                        ItemDisplayName = "显示名",
                        ItemValue = Model.Name,
                        PlaceholderString = "请输入显示名",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.NncqBoorStrapInputValidate(inputForName)

                    var inputForMobileNumber = new HtmlInputItemSpecification()
                    {
                        ItemId = "MobileNumber",
                        ItemDisplayName = "手机号码",
                        ItemValue = Model.MobileNumber,
                        PlaceholderString = "请输入手机号码",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.NncqBoorStrapInputValidate(inputForMobileNumber)

                    var inputForMobileEMail = new HtmlInputItemSpecification()
                    {
                        ItemId = "EMail",
                        ItemDisplayName = "电子邮件",
                        ItemValue = Model.EMail,
                        PlaceholderString = "请输入电子邮件地址",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.NncqBoorStrapInputValidate(inputForMobileEMail)

                }


                @*<div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">显示名称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="请输入显示名" value="@Model.Name" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="MobileNumber" class="col-sm-3 control-label">手机号码：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="MobileNumber" id="MobileNumber" placeholder="请输入手机号码" value="@Model.MobileNumber" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="EMail" class="col-sm-3 control-label">电子邮件：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="EMail" id="EMail" placeholder="请输入电子邮件" value="@Model.EMail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="col-sm-3 control-label">简要描述：</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="4" name="Description" id="EntityVM_Description">@Model.Description</textarea>
                    </div>
                </div>*@
            </div>
        </form>
    </div>
</div>

