@model IEnumerable<YiZhan.ViewModels.ApplicationOrganization.ApplicationUserVM>

<div>
    <div class="pull-right" style="width:10px"></div>
    <div class="input-group pull-right" style="width:250px">
        <input type="text" class="form-control" placeholder="输入关键词...">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">查询</button>
        </span>
    </div>
    <h2 class="sub-header">@ViewBag.RoleName</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="50px">序号</th>
                <th width="200px">用户名</th>
                <th width="100px">关联人员</th>
                <th width="100px">移动电话</th>
                <th>电子邮件</th>
                <th width="50px">状态</th>
                <th width="250px">数据操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.OrderNumber</td>
                        <td>@user.UserName</td>
                        <td>@user.Name</td>
                        <td>@user.MobileNumber</td>
                        <td>@user.EMail</td>
                        <td>@if (!user.LockoutEnabled)
                            {
                                <span class="glyphicon glyphicon-lock warning"></span>
                            }
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button onclick="editApplicationUser('@user.Id','@ViewBag.RoleId')" type="button" class="btn btn-default">编辑</button>
                                <button type="button" class="btn btn-default" onclick="userDetail('@user.Id.ToString()','@ViewBag.RoleId')">明细</button>
                                <button type="button" class="btn btn-default" onclick="openResetUserPasswordModal('@user.Id')">重置密码</button>
                                @if (user.LockoutEnabled)
                                {
                                    <button type="button" class="btn btn-default" onclick="lockoutUser('@user.Id','@ViewBag.RoleId')">禁用</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-default" onclick="unLockoutUser('@user.Id','@ViewBag.RoleId')">启用</button>
                                }
                                <button type="button" class="btn btn-default"
                                        onclick="openRemoveUserModal('@user.Id.ToString()','你所选择删除的员工是：@user.Name（@user.SortCode），请确认是否继续执行。')">
                                    移出
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
